@import '../../styles/settings';

.col4-container {
  width: 100%;

  & .group {
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  & .tile {
    width: 20%;

    @media #{$tabletMax} {
      width: 30%;
    }

    @media #{$mobileMax} {
      width: calc(50% - 20px);
    }

    @media #{$smallMobileMax} {
      width: 100%;
    }
  }
}

.col2-container {
  width: calc(100% + 20px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  & .tile {
    width: calc(50% - 20px);

    @media #{$desktopMax} {
      width: 100%;
    }
  }
}
