@import '../../styles/settings';

.container {
  // background-color: red;
}

.col4 {
  width: 100%;
  // width: calc(100% + 20px);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px 0 20px 0;
  // margin: 0 -10px;

  // & .group {
  //   width: calc(100% + 20px);
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: 0 -10px;
  // }

  & > div {
    width: 20%;

    @media #{$tabletMax} {
      width: 30%;
    }

    @media #{$mobileMax} {
      width: calc(50% - 20px);
    }

    @media #{$smallMobileMax} {
      width: 100%;
    }
  }
}

.col2 {
  width: calc(100% + 20px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  & > div {
    width: calc(50% - 20px);

    @media #{$desktopMax} {
      width: 100%;
    }
  }
}
