// $darkGreen: #00241B;
$darkGreen: #274c45;
$teal: #4e878c;
$oceanGreen: #65b891;
$celadon: #93e5ab;
$magicMint: #b5ffe1;
$blue: #3da8ff;
$white: white;
$darkRed: #d8462c;
$fireOpal: #dd614a;
$middleRed: #f48668;
$pinkishRed: #eb9d87;
$lightRed: #edbdb0;

// Breakpoints

$desktopLargeMax: '(max-width: 1400px)';
$desktopMax: '(max-width: 1024px)';
$tabletMax: '(max-width: 960px)';
$mobileMax: '(max-width: 768px)';
$smallMobileMax: '(max-width: 480px)';

$bucketGap: 10px;
