.logo {
  height: 50px;

  & svg {
    height: 50px;
  }

  & > * {
    // transition: all 0.25s linear;
  }

  .logo-bg {
    width: 44px;
  }
}

// .closed {
//   width: 44px;

//   .logo-bg {
//     width: 44px;
//   }

//   .inancial,
//   .igest {
//     opacity: 0;
//   }

//   .f {
//     transform: translateX(-8px);
//   }
//   .d {
//     transform: translateX(-154px);
//   }
// }

.inancial,
.igest {
  opacity: 0;
}

.f {
  transform: translateX(-8px);
}
.d {
  transform: translateX(-154px);
}
