@import '../../../../styles/settings';

.account {
  background-color: $teal;

  h2 {
    color: $white;
    margin: 0 0 10px 0;
  }

  p {
    color: $white;
    font-size: 22px;
    font-weight: 200;
    margin: 10px 0 0 0;
  }
}

.tile {
  padding: 20px;
  margin: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: auto 1 1;
  width: 20%;

  @media #{$tabletMax} {
    width: 30%;
  }

  @media #{$mobileMax} {
    width: calc(50% - 20px);
  }

  @media #{$smallMobileMax} {
    width: 100%;
  }
}
